[Desktop Entry]
Version=1.0
Name[am]=MX USB ማውረጃ
Name[ca]=MX USB Unmounter
Name[cs]=MX odpojovač USB
Name[da]=MX USB-afmontering
Name[de]=MX USB Unmounter
Name[el]=MX Αποπροσάρτηση USB
Name[es]=MX Desmontar USB
Name[es_ES]=MX Desmontador de USB
Name[fi]=MX USB:n irrotus
Name[fr]=MX Démontage USB - MX USB Unmounter
Name[fr_BE]=MX Démontage USB - MX USB Unmounter
Name[gl_ES]=MX Desconector dispositivos USB
Name[he_IL]=מנתק כונני USB של MX
Name[hi]=MX यूएसबी माउंट से हटाने का साधन
Name[hu]=MX USB leválasztó
Name[it]=MX Smonta USB
Name[ja]=MX USB アンマウンタ
Name[lt]=MX USB atjungiklis
Name[nb]=MX USB-avmontering
Name[nl]=MX USB Ontkoppelaar
Name[nl_BE]=MX USB Ontkoppelaar
Name[pl]=MX Odmontowanie USB
Name[pt]=MX-Desmontar dispositivos USB
Name[pt_BR]=Desmontador de Dispositivos USB do MX
Name[ru]=MX USB безопасное извлечение
Name[ru_RU]=MX USB безопасное извлечение
Name[sk]=MX Odpojiť USB
Name[sl]=MX USB odklopnik
Name[sq]=Çmontues MX USB-sh
Name[sv]=MX USB Unmounter
Name[th]=MX USB Unmounter
Name[tr]=MX USB Ayırıcı
Name[vi]=MX USB Unmounter
Name[zh_TW]=MX 卸載 USB
Name=MX USB Unmounter
Comment[am]=ማውረጃ USB እና Optical የሚወልቅ መገናኛ
Comment[ca]=Desmunta els USB i dispositius òptics extraïbles
Comment[cs]=Odpojuje USB a optické disky
Comment[da]=Afmonter USB og optiske flytbare medier
Comment[de]=USB und optische Wechselmedien aushängen
Comment[el]=Αποπροσάρτηση USB και οπτικού αφαιρούμενου μέσου
Comment[es]=Desmontar los medios ópticos y USB removibles
Comment[es_ES]=Desmonta los soportes extraíbles USB y ópticos
Comment[fi]=Poista optinen media tai usb-tikku
Comment[fr]=Démonter les supports amovibles USB et optiques
Comment[fr_BE]=Démonter les supports amovibles USB et optiques
Comment[gl_ES]=Desconectar dispositivos ópticos e USB
Comment[he_IL]=ניתוק USB ואמצעי אחסון אופטיים
Comment[hu]=USB és optikai meghajtók leválasztása
Comment[it]=Smontare unità rimovibili USB e dischi ottici
Comment[ja]=USB や光学リムーバブルメディアをアンマウントします
Comment[lt]=Atjungti USB ir optines keičiamąsias laikmenas
Comment[nb]=Avmonter USB-enheter og optiske plater
Comment[nl]=Ontkoppel USB en Optische verwijderbare media
Comment[nl_BE]=Ontkoppel USB en Optische verwijderbare media
Comment[pl]=Odmontuj USB i wymienne nośniki optyczne
Comment[pt]=Desmontar dispositivos ópticos e USB amovíveis [mx-usb-unmount]
Comment[pt_BR]=Desmontar dispositivos ópticos CD/DVD e USB com o MX USB Unmounter
Comment[ru]=Извлечь USB и оптические съемные носители
Comment[ru_RU]=Извлечь USB и оптические съемные носители
Comment[sk]=Odpojiť USB a optické disky
Comment[sl]=Odklpi USB in optične odstranljive medije
Comment[sq]=Çmontoni media USB dhe Optike të heqshme
Comment[sv]=Avmontera USB och borttagbara optiska media
Comment[tr]=USB ve Optik çıkarılabilir medyayı çıkarın
Comment[zh_TW]=卸載 USB 以及可移除式光學媒體
Comment=Unmount USB and Optical removable media
Exec=mx-usb-unmounter
Icon=mx-usb-unmounter
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System
NotShowIn=LXQt
