[Desktop Entry]
Version=1.0
Type=Application
Name=MX USB Unmounter
Name[am]=MX USB ማውረጃ
Name[ca]=MX USB Unmounter
Name[cs]=MX odpojovač USB
Name[de]=MX USB Unmounter
Name[el]=MX USB Unmounter
Name[es]=MX Desmontar USB
Name[fr]=MX Démonteur USB
Name[hu]=MX USB leválasztó
Name[it]=MX Smonta USB
Name[ja]=MX USB アンマウンター
Name[lt]=MX USB atjungiklis
Name[nl]=MX USB Ontkoppelaar
Name[pt]=MX-Desmontar dispositivos USB
Name[ru]=MX USB безопасное извлечение
Name[sk]=MX Odpojiť USB
Name[sv]=MX USB Unmounter
Comment=Unmount USB and Optical removable media
Comment[am]=ማውረጃ USB እና Optical የሚወልቅ መገናኛ
Comment[ca]=Desmunta els USB i dispositius òptics extraïbles 
Comment[cs]=Odpojuje USB a optické disky
Comment[de]=USB und optische Wechselmedien aushängen
Comment[el]=Unmount USB και οπτικό αφαιρούμενα μέσα
Comment[es]=Desmontar los medios ópticos y USB removibles
Comment[fr]=Démonter les volumes USB amovibles et les disques optiques
Comment[hu]=USB és optikai meghajtók leválasztása
Comment[it]=Smontare unità rimovibili USB e dischi ottici
Comment[ja]=USB や光学リムーバブルメディアをアンマウント
Comment[lt]=Atjungti USB ir optines keičiamąsias laikmenas
Comment[nl]=Ontkoppel USB en Optische verwijderbare media
Comment[pt]=Desmontar dispositivos ópticos e USB amovíveis
Comment[ru]=Извлечь USB и оптические съемные носители
Comment[sk]=Odpojiť USB a optické disky
Comment[sv]=Avmontera USB och borttagbara optiska media
Exec=usb-unmounter-start
Icon=mx-usb-unmounter
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System
Name[en_US.UTF-8]=MX USB Unmounter
