[Desktop Entry]
Version=1.0
Type=Application
Name=MX USB Unmounter
Name[am]=MX USB ማውረጃ
Name[ar]=MX USB Unmounter
Name[bg]=MX USB Unmounter
Name[ca]=MX USB Unmounter
Name[cs]=MX odpojovač USB
Name[da]=MX USB-afmontering
Name[de]=MX USB Unmounter
Name[el]=MX USB Unmounter
Name[es]=MX Desmontar USB
Name[et]=MX USB Unmounter
Name[eu]=MX USB Unmounter
Name[fa]=MX USB Unmounter
Name[fi]=MX USB Unmounter
Name[fr]=MX Démonteur USB
Name[he_IL]=MX USB Unmounter
Name[hi]=MX USB Unmounter
Name[hr]=MX USB Unmounter
Name[hu]=MX USB leválasztó
Name[id]=MX USB Unmounter
Name[is]=MX USB Unmounter
Name[it]=MX Smonta USB
Name[ja]=MX USB アンマウンター
Name[kk]=MX USB Unmounter
Name[ko]=MX USB Unmounter
Name[lt]=MX USB atjungiklis
Name[mk]=MX USB Unmounter
Name[mr]=MX USB Unmounter
Name[nb]=MX USB Unmounter
Name[nl]=MX USB Ontkoppelaar
Name[pl]=MX Odmontowanie USB
Name[pt_BR]=MX Desmontar dispositivos USB
Name[pt]=MX-Desmontar dispositivos USB
Name[ro]=MX USB Unmounter
Name[ru]=MX USB безопасное извлечение
Name[sk]=MX Odpojiť USB
Name[sl]=MX USB odklopnik
Name[sq]=MX USB Unmounter
Name[sr]=MX USB Unmounter
Name[sv]=MX USB Unmounter
Name[tr]=MX USB Unmounter
Name[uk]=MX USB Unmounter
Name[zh_CN]=MX USB Unmounter
Name[zh_TW]=MX 卸載 USB
Comment=Unmount USB and Optical removable media
Comment[am]=ማውረጃ USB እና Optical የሚወልቅ መገናኛ
Comment[ar]=Unmount USB and Optical removable media
Comment[bg]=Unmount USB and Optical removable media
Comment[ca]=Desmunta els USB i dispositius òptics extraïbles
Comment[cs]=Odpojuje USB a optické disky
Comment[da]=Afmonter USB og optiske flytbare medier
Comment[de]=USB und optische Wechselmedien aushängen
Comment[el]=Unmount USB και οπτικό αφαιρούμενα μέσα
Comment[es]=Desmontar los medios ópticos y USB removibles
Comment[et]=Unmount USB and Optical removable media
Comment[eu]=Unmount USB and Optical removable media
Comment[fa]=Unmount USB and Optical removable media
Comment[fi]=Unmount USB and Optical removable media
Comment[fr]=Démonter les volumes USB amovibles et les disques optiques
Comment[he_IL]=Unmount USB and Optical removable media
Comment[hi]=Unmount USB and Optical removable media
Comment[hr]=Unmount USB and Optical removable media
Comment[hu]=USB és optikai meghajtók leválasztása
Comment[id]=Unmount USB and Optical removable media
Comment[is]=Unmount USB and Optical removable media
Comment[it]=Smontare unità rimovibili USB e dischi ottici
Comment[ja]=USB や光学リムーバブルメディアをアンマウント
Comment[kk]=Unmount USB and Optical removable media
Comment[ko]=Unmount USB and Optical removable media
Comment[lt]=Atjungti USB ir optines keičiamąsias laikmenas
Comment[mk]=Unmount USB and Optical removable media
Comment[mr]=Unmount USB and Optical removable media
Comment[nb]=Unmount USB and Optical removable media
Comment[nl]=Ontkoppel USB en Optische verwijderbare media
Comment[pl]=Odmontuj USB i wymienne nośniki optyczne
Comment[pt_BR]=Desmontar dispositivos ópticos e USB [mx-usb-unmount]
Comment[pt]=Desmontar dispositivos ópticos e USB amovíveis [mx-usb-unmount]
Comment[ro]=Unmount USB and Optical removable media
Comment[ru]=Извлечь USB и оптические съемные носители
Comment[sk]=Odpojiť USB a optické disky
Comment[sl]=Odklpi USB in optične odstranljive medije
Comment[sq]=Unmount USB and Optical removable media
Comment[sr]=Unmount USB and Optical removable media
Comment[sv]=Avmontera USB och borttagbara optiska media
Comment[tr]=Unmount USB and Optical removable media
Comment[uk]=Unmount USB and Optical removable media
Comment[zh_CN]=Unmount USB and Optical removable media
Comment[zh_TW]=卸載 USB 以及可移除式光學媒體
Exec=mx-usb-unmounter
Icon=mx-usb-unmounter
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System
NotShowIn=LXQt
Hidden=true
