[Desktop Entry]
Version=1.0
Type=Application
Name=MX USB Unmounter
Name[ca]=MX USB Unmounter
Name[cs]=MX odpojovač USB
Name[de]=MX USB Unmounter
Name[el]=MX USB Unmounter
Name[es]=MX Desmontar USB
Name[fr]=MX Démonte-USB
Name[it]=MX Smontare USB
Name[ja]=MX USB Unmounter
Name[nl]=MX USB Ontkoppelaar
Name[pl]=MX USB Unmounter
Name[pt]=MX_Desmontador de dispositivos USB
Name[ro]=MX USB Unmounter
Name[ru]=MX USB безопасное извлечение
Name[sv]=MX USB Unmounter
Comment=Unmount USB and Optical removable media
Comment[ca]=Desmunta les unitats extraïbles i els discos òptics
Comment[cs]=Odpojuje USB a optické disky
Comment[de]=USB und optische Wechselmedien aushängen
Comment[el]=Unmount USB και οπτικό αφαιρούμενα μέσα
Comment[es]=Desmontar los medios ópticos y USB removibles
Comment[fr]=Démonter les volumes USB amovibles et les disques optiques
Comment[it]=Smontare unità rimovibili USB e dischi ottici
Comment[ja]=Unmount USB and Optical removable media
Comment[nl]=Ontkoppel USB en Optische verwijderbare media
Comment[pl]=Unmount USB and Optical removable media
Comment[pt]=Desmontar dispositivos ópticos e USB amovíveis
Comment[ro]=Unmount USB and Optical removable media
Comment[ru]=Извлечь USB и оптические съемные носители
Comment[sv]=Avmontera USB och borttagbara optiska media
Exec=usb-unmounter-start
Icon=drive-removable-media
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System;MX-Utilities;
Name[en_US.UTF-8]=MX USB Unmounter
